################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Console/obj
/MiniSQLEngine/obj/Debug
/MiniSQLEngine/obj/Release
